*{
    margin: 0;
    padding: 0;
    border: 1px solid black;*/
}
body{
    background: rgb(165, 253, 203);
}
header {
    background:grey;
    margin: 2px;
    padding: 2px;
    color: white;              
    text-align: center;
    margin: 0 auto;
    width: 95.5%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
h1 {
    margin: 2px auto;
    padding: 4px;
    font-size: 60px;
    width: 95%;

}
h2{
    background: grey;
    color: white;
    margin: 2px auto;
    padding: 4px;
    font-size: 30px;
    width: 95%;
}
h3{
    background: grey;
    color: white;
    font-size: 24px;
    margin: 2px auto;
    padding: 4px;
    width: 95%;
}
p {
    background: white;
    font-size: 16px;
    margin: 2px auto;
    padding: 4px;
    width: 95%;
}
div {
    background: white;
    margin: 2px auto;
    padding: 4px;
    text-decoration: none;
    width: 95%;
}
ul {
    display: flex;
    padding: 4px 8px;
}
li {
    list-style-type: none;
    padding: 4px 8px;
}
div a{
    text-decoration: none;
}