<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
    <link rel="Stylesheet" href="../../Static/css/style.css">
</head>
<body>
    <Header>
        <h1>CSS</h1>
        <h2>Cascading Style Sheets</h2>
    <div>
        <nav>
            <ul>
                <a href="../index.html"><li>HOME</li></a>
                <a href="../cursohtml.html"><li>HTML</li></a>
                <a href=""><li>JAVASCRIPT</li></a>
                <a href=""><li>PYTHON</li></a>
                <a href=""><li>JAVA</li></a>
                <a href=""><li>GIT & GITHUB</li></a>
            </ul>
        </nav>
    </div>
</header>
<hr>
<br>
<section>
    <h3>Introdução ao CSS</h3>
    <p><strong>CSS</strong> é a linguagem que usamos para estilizar uma página da web.</p>
    <br>
    <h3>O que é CSS?</h3>
    <div>
        <ul>
            <li><strong>CSS</strong> significa Folha de Estilo em Cascata</li>
            <li><strong>CSS</strong> descreve como os elementos <strong>HTML</strong> devem ser exibidos na tela, no papel ou em outra mídia</li>
            <li><strong>CSS</strong>economiza muito trabalho. Ele pode controla o layout de várias páginas da Web de uma só vez</li>
            <li>Folhas de estilo externa são armazenadas em arquivo <strong>CSS</strong></li>
        </ul>
    </div>
    <hr>
    <br>
    <h3>Demostração CSS - Uma página HTML - Vários estilos!</h3>
    

</section>
<footer>
    <h4>Aprendendo CSS</h4>
</footer>

    
</body>
</html>