<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HTML</title>
        <link rel="stylesheet" href="../Static/css/cuhtml.css">
    </head>

    <body>
        <header>
            <h1>HTML</h1>
        <div>
            <nav>
                <ul>
                    <a href="index.html"><li>HOME</li></a>
                    <a href="css/style.html"><li>CSS</li></a>
                    <a href=""><li>JAVASCRIPT</li></a>
                    <a href=""><li>PYTHON</li></a>
                    <a href=""><li>JAVA</li></a>
                    <a href=""><li>GIT & GITHUB</li></a>
                </ul>
            </nav>
        </div>
    </header>
        <sectio>
            <h2>Introdução ao HTML</h2>
            <p>With <strong>HTML</strong> you can create your own Website</p>
            <p><strong>HTML</strong> is easy to learn - You will enjoy it!</p>
            <p><strong>HTML</strong> é a linguagem de marcação padrão para criação de página da Web.</p>
            <br>
            <h3>O que é HTML</h3>
            <div>
                <ul>
                    <li><strong>HTML</strong> significa linguagem de marcação de hipertexto</li>
                    <li><strong>HTML</strong> é a linguagem de marcação padrão para criação de páginas da Web</li>
                    <li><strong>HTML</strong> descreve a estrutura de uma página da Web</li>
                    <li><strong>HTML</strong> consiste em uma serie de elementos</li>
                    <li>Os elementos <strong>HTML</strong> informam ao navegador como exibir o conteúdo</li>
                    <li>Os elementos <strong>HTML</strong> rotulam partes do conteúdo como "este é um título", "este é um
                    paragrafo", "este é um link", etc.</li>
                </ul>
            </div>
            <hr>
            <br>
            <h3>Um documento HTML simples</h3>
            <div>
                <h3>Exemplo:</h3>
                <img src="../Static/imgs/chindex.png" alt="estrutura html">
            </div>
            <hr>
            <br>
            <h3>Exemplo explicado</h3>
            <div class="mac">
                <ul>
                    <li>A <Strong> &#10094; !DOCTYPE html &#10095; </Strong> declaração define que este documento é um documento
                            <strong>HTML5</strong>
                        </li>
                    <li>O <strong>&#10094; html &#10095;</strong> elemento é o elemento raiz de uma página <strong>HTML</strong>
                        </li>
                    <li>O <strong>&#10094; head &#10095;</strong> elemento contém meta informações sobre a página
                        <strong>HTML</strong></li>
                    <li>O <strong>&#10094; title &#10095;</strong> elemento especifica um título para a página
                        <strong>HTML</strong>(que é mostrado na barra de títulos do navegador ou na gia da página)</li>
                    <li>O <strong>&#10094; body &#10095;</strong> elemento define o copo do documento e é um contêiner para
                        todos os conteúdos visiveis, como títulos, parágrfos, imagens, hiperlinks, tabelas, listas, etc.</li>
                    <li>O <strong>&#10094; h1 &#10095;</strong> elemento define um título grande</li>
                    <li>O <strong>&#10094; p &#10095;</strong> elemento define um parágrafo</li>    
                </ul>    
            </div>
            <hr>
            <h3>O que é um elemento HTML?</h3>
            <p>Um elemento HTML é definido por uma tag inicial, algum contúdo e uma tag final:</p>
            <p class="mac"> <Strong>&#10094; tagname &#10095;</Strong> O conteúdo vai aqui...<strong>&#10094; /tagname &#10095;</strong></p>
            <p><strong>O elemento HTML</strong> é tudo, desde a tag inicial até a tag final</p>
            <p class="mac"><strong>&#10094; h1 &#10095;</strong>Meu primeiro título<strong>&#10094; /h1 &#10095;</strong></p>
            <p class="mac"><strong>&#10094; p &#10095;</strong>Meu primeiro parágrafo<strong>&#10094; /p&#10095;</strong></p>
            <div>
                <table>
                    <tr>
                        <th>Tag Inicial</th>
                        <th>Conteúdo do Elemento</th>
                        <th>Tag Final</th>
                    </tr>
                    <tr>
                        <td>&#10094; h1 &#10095;</td>
                        <td>Meu primeiro título</td>
                        <td>&#10094; / h1 &#10095;</td>               
                    </tr>
                    <tr>
                        <td>&#10094; p &#10095;</td>
                        <td>Meu primeiro parágrafo</td>
                        <td>&#10094; / p &#10095;</td>               
                    </tr>                        
                </table>
            </div>
            <div>
                <p><strong>Note:</strong> alguns elementos HTML não possuem conteúdo (como o elemento <strong>&#10094; br &#10095;</strong>). Esses elementos são chamados de elementos vazios. Elementos vazios não possuem tag final! </p>
            </div>
            <hr>
            <br>
            <h3>Navegadores da Web</h3>
            <p>O objetivo de um navegador da Web (Chrome, Edge, Firefox, Safari) é ler documentos <strong>HTML</strong> e exibi-los corretamante.</p>
            <P>Um navegador não exibe as tags <strong>HTML</strong>, mas as utiliza para determinar como exibir o documento:</P>
            <hr>
            <br>
            <div>
                <h3>Exibição do Navegador</h3>
                <img src="../Static/imgs/chindex01.png" alt="navegador">
            </div>
            <hr>
            <br>
            <h3>Estrutura da página HTML</h3>
            <p>Abaixo está uma visualização de uma estrutura da página <strong>HTML</strong>:</p>
            <div>
                <h3>Estrutura HTML</h3>
                <img src="../Static/imgs/html01.png" alt="estruturahtml">
            </div>
            <hr>
            <br>
            <div class="box">
                <p><strong>Note:</strong>O conteúdo da seção <strong>&#10094; Body &#10095;</strong>será exibido em um navegador. O conteúdo dentro do elemento<strong>&#10094; title &#10095;</strong> será mostrado na barra de título do navegador ou na aba da página.</p>
            </div>
            </sectio>
            <br>           
            <hr>
            <hr>
            <br>
            <section>
                <h2>Editores HTML</h2>
                <p>Um editor de texto simples é tudo que você precisa para aprender <strong>HTML</strong>.</p>
                <hr>
                <h3>Aprenda HTML usando o bloco de notas ou TextEdit</h3>
                <p>As página da Web podem ser criadas e modificadas usando editores de <strong>HTML</strong> Profissionais.</p>
                <p>Porém, para aprender <strong>HTML</strong> recomendamos  um editor de texto simples como o Notepad (PC) ou TextEdit (Mac)</p>
                <p>Acreditamos que usar um editor de texto simples é uma boa maneira de aprender <strong>HTML</strong></p>
                <p>Siga as etapas abaixo para criar sua primeira página da Web com o Bloco de Notas ou TextEdit</p>
                <h3>Passo 1: Abra  o Bloco de Notas (PC)</h3>
                <p><strong>Windows 8 ou posterior:</strong></p>
                <p>Abra a <strong>tela inicial</strong> (O símbolo da janela no canto inferior esquerdo da tela).<br>
                Digite <strong>Bloco de Notas</strong>.
                </p>
                <p>Abra <strong>Iniciar &#10095; Programas &#10095; Acessórios &#10095; Blocos de Notas</strong></p>
                <br>
                <hr>
                <h3>Passo 1: Abra o Editor de Texto (Mac)</h3>
                <p>Abra <strong>Finder &#10095; Aplicativos &#10095; Editor de Texto</strong></p>
                <p>Altere também algumas preferências para que o aplicativo salve os arquivos corretamante. Em <strong>Preferências &#10095; Formato &#10095;</strong> escolha <strong>"Texto Simples"</strong></p>
                <p>Em seguida, em "Abrir e Salvar", marque a caixa que diz "Exibir arquivos" <strong>HTML</strong> como código <strong>HTML</strong> em vez de texto formatado". </p>

            </section>
            <br>
            <footer>
                <h4>Aprendendo HTML</h4>
            </footer>
    </body>

</html>
