<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML</title>
</head>
<body>
    <header>
        <h1>HTML</h1>
    </header>
    <sectio>
        <h2>Introdução ao HTML</h2>
        <p><strong>HTML</strong> is the standard markup language for web page.</p>
        <p>With <strong>HTML</strong> you can create your own Website</p>
        <p><strong>HTML</strong> is easy to learn - You will enjoy it!</p>
        <h2> Introdução HTML</h2>
        <p><strong>HTML</strong> é a linguagem de marcação padrão para criação de página da Web.</p>
        <h3>O que é HTML</h3>
        <ul>
            <li><strong>HTML</strong> significa linguagem de marcação de hipertexto</li>
            <li><strong>HTML</strong> é a linguagem de marcação padrão para criação de páginas da Web</li>
            <li><strong>HTML</strong> descreve a estrutura de uma página da Web</li>
            <li><strong>HTML</strong> consiste em uma serie de elementos</li>
            <li>Os elementos <strong>HTML</strong> informam ao navegador como exibir o conteúdo</li>
            <li>Os elementos <strong>HTML</strong> rotulam partes do conteúdo como "este é um título", "este é um paragrafo", "este é um link", etc.</li>
        </ul>
        <h3>Um documento HTML simples</h3>
        <div>
            <h3>Exemplo:</h3>
            <img src="../Static/imgs/chindex.png" alt="estrutura html">
        </div>
        <h3>Exemplo explicado</h3>
        <ul>
            <li>A <Strong> &#10094; !DOCTYPE html &#10095; </Strong> declaração define que este documento é um documento <strong>HTML5</strong></li>
            <li>O <strong>&#10094; html &#10095;</strong> elemento é o elemento raiz de uma página <strong>HTML</strong></li>
            <li>O <strong>&#10094; head &#10095;</strong> elemento contém meta informações sobre a página <strong>HTML</strong> </li>
            <li>O <strong>&#10094; title &#10095;</strong> elemento especifica um título para a página <strong>HTML</strong>(que é mostrado na barra de títulos do navegador ou na gia da página)</li>
            <li>O <strong>&#10094; body &#10095;</strong> elemento define o copo do documento e é um contêiner para todos os conteúdos visiveis, como títulos, parágrfos, imagens, hiperlinks, tabelas, listas, etc.</li>
            <li>O <strong>&#10094; h1 &#10095;</strong> elemento define um título grande</li>
            <li>O <strong>&#10094; p &#10095;</strong> elemento define um parágrafo</li>

        </ul>
    
    </sectio>

    
</body>
</html>