<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="Stylesheet" href="../Static/css/exemplos.css">
</head>
<body>
    <header>
        <h1>Meu primeiro exemplo de CSS</h1>
        <div>
            <nav>
                <ul>
                    <a href="css/style.html"><li>CSS</li></a>
                </ul>
            </nav>
        </div>
    </header>
    <p> Este é um parágrafo</p>
    

    
</body>
</html>