<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Static/css/home.css">
</head>
<body>
    <header>
        <h1>GUIA DE ESTUDOS</h1>
        <h2>Bacharelado de Tecnologia da Infomação</h2>
        <div>
            <nav>
                <ul>
                    <a href="cursohtml.html"><li>HTML</li></a>
                    <a href=""><li>CSS</li></a>
                    <a href=""><li>JAVASCRIPT</li></a>
                    <a href=""><li>PYTHON</li></a>
                    <a href=""><li>JAVA</li></a>
                    <a href=""><li>GIT & GITHUB</li></a>
                </ul>
            </nav>
        </div>
    </header>
    <hr>
    <br>
    <footer>
        <h4>Aprendendo HTML</h4>
    </footer>
    
</body>
</html>