<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UFT-8">
        <meta name="viewpost" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <Link rel="stylesheet" href="../static/css/home.css">
            <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <h1>Este é o Título Principal</h1>
            <h2>Este é a explicação</h2>
        </header>
        <section>
            <h3>Esse é o titulo da section</h3>
            <div class="box1">
                <form>
                    <label>Login:</label>
                    <input type="email" placeholder="Email"><br>
                    <label>Senha:</label>
                    <input type="password" placeholder="password"><br>
                    
                    <input type="submit" value="Enviar">
                </form>
            </div>

        </section>
        <footer>
            <h4>Este é um titulo não tao importante</h4>
        </footer>
        
    </body>
</html>